DB_SOURCE=postgresql://username:password@hostname.neon.tech/database_name?sslmode=require
SERVER_ADDRESS=0.0.0.0:8080
TOKEN_SYMMETRIC_KEY=changeme_must_be_32_characters_
ACCESS_TOKEN_DURATION=15m
OPENAI_API_KEY=sk-your-openai-api-key-here
