@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f3f4f6;
  /* bg-gray-100 */
  color: #111827;
  /* text-gray-900 */
}